@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="display-blogs"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Details")',
                success: function (result) {
                    $('#display-blogs').html(result);
                }
            });
        });
    });
</script>