@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

<div class="name-header">
    <h1>Johnny Mayer</h1>
    <h3>Personal Portfolio</h3>
    <img src="https://avatars0.githubusercontent.com/u/22533370?s=400&u=1d12a06222027b5b7c0e1e982a27dda822372a7a&v=4">
</div>
<div class="container">
    <p>@Html.ActionLink("Blog", "Index", "Blog")</p>
    <p>@Html.ActionLink("Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Log in", "Login", "Account")</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn" value="Log out" />
    }
}