@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@if(User.Identity.IsAuthenticated)
{
    <h1 style="text-align:center">ADMIN ACCOUNT ACTIVE</h1>
    <h2 style="text-align:center">@User.Identity.Name</h2>
}
else
{
    <h1> </h1>
}