@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="head">JOHNNY MAYER</h1>
    <div class="leads">
        <ul>
            <li><a href="http://www.linkedin.com/in/johncmayer" target="_blank">FULL STACK DEVELOPER</a></li>
            <li><a href="http://www.soundcloud.com/asphaltocean" target="_blank">SOUND DESIGNER</a></li>
            <li><a href ="/Blogs">BLOG</a></li>
        </ul>
    </div>
</div>

<div id="display-blogs"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.display-view').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Details")',
                success: function (result) {
                    $('#display-blogs').html(result);
                }
            });
        });
    });
</script>