@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="name-header">
    <h1>Johnny Mayer</h1>
    <h3>Personal Portfolio</h3>
    <img src="https://avatars0.githubusercontent.com/u/22533370?s=400&u=1d12a06222027b5b7c0e1e982a27dda822372a7a&v=4">
</div>