body {
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: black;
    color: white; 
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.name-header, h1, h3 {
    text-align:center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}