@model IEnumerable<PersonalPortfolio.Models.Blog>

@{
     ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="container">
        <h1 class="displayBlogs">@Html.DisplayFor(modelItem => item.Title)</h1>
        <br />
        @Html.DisplayFor(modelItem => item.Author)
        <br />
        @Html.DisplayFor(modelItem => item.Content)
        <br />
        @Html.ActionLink("Blog details", "Details", new{id = item.BlogId})
        <hr />
    </div>
}