@model IEnumerable<PersonalPortfolio.Models.Repo>
    @{
    ViewData["Title"] = "Personal Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1>@ViewData["Title"]</h1>
    <div class="container">
        @foreach(var allRepos in Model)
        {
        <div class="container">
            <ul class="list-unstyled">
                <li>@Html.DisplayFor(modelItem => allRepos.Description)</li>
                <li>@Html.DisplayFor(modelItem => allRepos.UrlAddress)</li>
                <li>@Html.DisplayFor(modelItem => allRepos.Language)</li>
            </ul>
        </div>
        }
    </div>
