@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">AUTHENTICATOR</h1>
<div class="container" style="text-align:center">
    @Html.ActionLink("Register", "Register")
    <br />
    @Html.ActionLink("Login", "Login")
</div>